{{#link-to "profile" post.author}}<img {{bind-attr src=post.author.photo alt=post.author.name}}>{{/link-to}}
<div class="text">
  <h4 class="author">{{#link-to "profile" post.author.username}}{{post.author.name}}{{/link-to}}</h4>
  {{format-markdown body=post.body}}
  <p class="misc">{{format-date date=post.createdDate}}{{#if myPost}} &#183; <a class="delete" href="#" {{action "delete" post}}>Delete</a>{{/if}}</p>
</div>