{{partial "header"}}
<div class="dashboard main">
  <form class="post-ui">
    {{input type="text" id="post" value=newPostBody placeholder="Write a new post"}}
    <p {{bind-attr class=":character-count warning"}}>{{characterCount}} character{{inflection}}<br>
    {{errorMessage}}</p>
    <button {{action "publish"}} class="gray-btn">Publish</button>
  </form>
  <hr>
  <h3>Latest posts</h3>
  <hr>
  {{#each post in limitedContent}}
    {{telegram-post post=post}}
  {{/each}}
</div>
