{{partial "header"}}
<div class="dashboard main">
  <div class="user-info">
    <img {{bind-attr src=photo alt=name}}>
    <h2 class="name">{{name}}</h2>
    <h4 class="username">@{{username}}</h4>
    {{#if notMyProfile}}
      {{#if followedByCurrentUser}}
        <button {{action "unfollow"}} class="blue-btn">Unfollow</button>
      {{else}}
        <button {{action "follow"}} class="blue-btn">Follow</button>
      {{/if}}
    {{/if}}
  </div>
  <hr>
  <nav>
    {{#link-to "profile.index"}}Posts{{/link-to}}
    {{#link-to "profile.following"}}Following{{/link-to}}
    {{#link-to "profile.followers"}}Followers{{/link-to}}
  </nav>
  <hr>
  {{outlet}}
</div>
